<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title>Steven Skelton:Software Developer</title>

<!-- Framework CSS -->

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">

<!--[if lt IE 8]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen, projection"/><![endif]-->

<link rel="stylesheet" href="../css/main.css" type="text/css" media="screen, projection"/>

<link  href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css"> 


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26236348-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

 <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Steven Skelton</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#blog">Blog</a><li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

    <div class="hero-unit">
        <h1>What's up?</h1>
        <p>I'm Steven Skelton and I make software</p>
        <p><a class="btn primary large">Find out more &raquo;</a></p>
      </div>

      <div class="row">
        <div class ="span16">
        </div>
      </div>

    <div class="row">
       <div class="span4">
          <h2>About</h2>
           <p>Find out more about me, my life, both my technological and non-technological interests, my projects, and my work.</p>
          <p><a class="btn primary" href="#">Read about me &raquo;</a></p>
       </div>
        <div class="span4 offset1">
          <h2>Blog</h2>
          <p>Read more about what I have to say on things that I have encountered in my life as a Computer Science student in Edinburgh.</p>
          <p><a class="btn primary" href="#">View details &raquo;</a></p>
        </div>
        <div class="span4 offset1">
          <h2>Contact</h2>
          <p>Have any questions or comments for me? I'm always available to chat through some medium. Find out how to contact me here.</p>
          <p><a class="btn primary" href="#">Contact me &raquo;</a></p>
        </div>
      </div>

      <footer>
        <p>&copy; Steven Skelton 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>

</html>